<nav
  class="bg-[#f3f3f3] flex justify-center items-center p-3 text-[#9c9c9c] sticky top-0"
>
  <div class="flex-wrap flex justify-between items-start container">
    <div class="flex items-center gap-2">
      <i class="fa-solid fa-shop"></i>
      <p>Up to 70% off the entire store!</p>
    </div>
    <div class="lg:flex items-center gap-5 hidden">
      <select name="" id="" class="bg-transparent focus:outline-none">
        <option value="USD">USD</option>
        <option value="EUR">EUR</option>
        <option value="GBP">GBP</option>
        <option value="INR">INR</option>
        <option value="CAD">CAD</option>
        <option value="AED">AED</option>
        <option value="JPY">JPY</option>
      </select>
      <select name="" id="" class="bg-transparent focus:outline-none">
        <option value="English">English</option>
        <option value="Hindi">Hindi</option>
        <option value="Spanish">Spanish</option>
        <option value="French">French</option>
        <option value="German">German</option>
        <option value="Italian">Italian</option>
        <option value="Arabic">Arabic</option>
      </select>
    </div>
    <button (click)="toggle()">
      <i class="fa-solid fa-bars text-lg block lg:hidden"></i>
    </button>
  </div>
</nav>

<app-sidebar
  [@openClose]="isOpen ? 'open' : 'closed'"
  (closeSidebar)="toggle()"
></app-sidebar>
