<div class="flex gap-4 h-full flex-col lg:flex-row">
  <div
    class="bg-[#f3f3f3] flex items-center pl-14 justify-between w-full lg:w-fit h-full py-10"
  >
    <div class="">
      <p class="text-xs text-[#EE3524] mb-2">SUMMER SALE UPTO 70%</p>
      <p class="font-semibold text-4xl">
        Polaroid i-Type <br />
        Instant Camera
      </p>
      <p class="text-xs text-[#9c9c9c] my-5">
        Save and shoot straight from the box <br />
        with three packs of iconic Polaroid.
      </p>
      <button class="bg-[#1A9FFC] hover:bg-[#76c5fd] text-white py-3 px-8">
        SHOP NOW
      </button>
    </div>
    <img src="assets/images/camera.png" alt="" class="camera_shadow w-96" />
  </div>
  <div class="flex lg:flex-col gap-4 flex-1">
    <div
      class="flex flex-1 bg-[#C8DDFA] p-8 pr-0 justify-between bg-[url('assets/images/speaker.png')] bg-right bg-no-repeat bg-contain"
    >
      <div class="flex flex-col justify-start">
        <p class="font-semibold text-2xl">
          JBL Music <br />
          Speaker
        </p>
        <div class="">
          <p class="text-[#9c9c9c] text-xs">Weekend Discount</p>
          <div class="flex items-center gap-2">
            <p class="text-[#EE3524] font-medium text-2xl">$270</p>
            <p class="text-[#9c9c9c] text-xs line-through">$350</p>
          </div>
        </div>
      </div>
    </div>
    <div
      class="flex flex-1 bg-[#f3f3f3] p-8 pr-0 justify-between bg-[url('assets/images/airpods.png')] bg-right bg-no-repeat bg-contain"
    >
      <div class="flex flex-col justify-start">
        <p class="font-semibold text-2xl">
          Apple <br />
          AirPods Pro
        </p>
        <div class="">
          <p class="text-[#9c9c9c] text-xs">Weekend Discount</p>
          <div class="flex items-center gap-2">
            <p class="text-[#EE3524] font-medium text-2xl">$249</p>
            <p class="text-[#9c9c9c] text-xs line-through">$260</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
