<div (mouseenter)="toggle()" (mouseleave)="toggle()">
  <div
    class="flex flex-1 items-center justify-between gap-4 text-[#9c9c9c] px-6 py-6 border-t"
  >
    <p class="cursor-default mr-4">{{ category?.name }}</p>
    <p [@openClose]="isOpen ? 'rotate-180' : 'rotate-90'">
      <i class="fa-solid fa-chevron-up"></i>
    </p>
  </div>
  <div [@openClose]="isOpen ? 'open' : 'closed'">
    <div
      *ngFor="let product of category?.products"
      class="text-[#9c9c9c] pl-6 pb-3 text-sm"
    >
      <p>{{ product }}</p>
    </div>
  </div>
</div>
